# Rewrite tenders/public -> tenders/public.php, etc.
# RewriteBase: path to this api folder from document root
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /suppy_tender/backend/api/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>
